* {
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    border: 0;
}
/*兼容IE8以下浏览器，对这些不识别的浏览器全部当做块元素处理*/
header,section,nav,aside,article,footer{display: block;}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    background-color: #000;
}

header .container {
    width: 900px;
    height: 80px;
    margin: 0 auto;
}

header>.container>a {
    line-height: 73px;
    display: block;
    float: left;
    width: 120px;
    height: 73px;
    color: #fff;
}

header>.container>a>img {
    margin-top: 20px;
    margin-right: 5px;
    ;
}

header>.container>nav {
    float: right;
}

header>.container>nav>a {
    line-height: 80px;
    display: block;
    float: left;
    width: 80px;
    height: 73px;
    text-align: center;
    color: #fff;
}

header>.container>nav>a:hover, header>.container>nav>a.active {
    padding-bottom: 7px;
}

header>.container>nav>.Home {
    background-color: #f30;
}

header>.container>nav>.Course {
    background-color: #eec900;
}

header>.container>nav>.Actual {
    background-color: #3f3;
}

header>.container>nav>.Plan {
    background-color: #63c;
}

header>.container>nav>.FAQ {
    background-color: #f93;
}

header>.container>nav>.Notes {
    background-color: #36c;
}

.banner {
    background: #f0f0f0;
}

.banner>ul {
    position: relative;
    width: 900px;
    height: 400px;
    margin: 0 auto;
}

.banner>ul>li {
    position: absolute;
    overflow: hidden;
    width: 350px;
    height: 220px;
}

.banner>ul>li.active {
    z-index: 2;
    top: 37px;
    right: 0;
    left: 0;
    width: 560px;
    height: 320px;
    margin: auto;
    border: 1px solid #fff;
}

.banner>ul>li.left {
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.banner>ul>li.right {
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.banner>ul>li>img {
    position: relative;
    top: -30%;
    left: -180%;
}

.main {
    width: 900px;
    height: 480px;
    margin: 37px auto 0;
}

.main>aside {
    float: left;
    width: 450px;
    height: 450px;
    margin-right: 20px;
}

.main h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.main h1 span {
    font-size: 20px;
    margin-left: 2px;
    color: #ccc;
}

.main>aside>dl {
    position: relative;
    display: block;
    height: 73px;
    margin-bottom: 15px;
}

.main>aside>dl>dt {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    position: absolute;
    left: 73px;
    text-decoration: underline;
}

.main>aside>dl>dd:first-of-type {
    position: absolute;
    left: 0;
}

.main>aside>dl>dd:last-of-type {
    position: absolute;
    top: 20px;
    left: 73px;
}

.main>acticle {
    float: right;
    width: 420px;
    height: 480px;
}

.main>acticle>img {
    width: 410px;
    margin: 20px auto;
}
footer{
  background: #000;
}

footer > .container{
  width: 900px;
  height: 74px;
  margin:  0 auto;
}
footer > .container > p{
  color: #fff;
  float: left;
  line-height: 74px;
}
footer > .container > span {
  float: right;
  margin: 20px 40px;
}
footer > .container > span > img{
  opacity: 0.7;
}
footer > .container > span > img:hover{
  opacity: 1;
  cursor: pointer;
}
